<nav class="col-md-2 d-none d-md-block bg-light sidebar shadow">
    <div class="sidebar-sticky">
        <ul class="list-group mt-3 mb-1">
            <li class="list-group-item d-flex justify-content-between align-items-center self-pointer-cursor"
                routerLinkActive="active" routerLink="/search">
                <span>
                    <fa-icon [icon]="['fas', 'search']"></fa-icon>
                    Search
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center self-pointer-cursor"
                routerLinkActive="active" routerLink="/favorites">
                <span>
                    <fa-icon [icon]="['fas', 'bookmark']"></fa-icon>
                    Favorites
                </span>
            </li>
        </ul>
    </div>
</nav>